.infoBox {
  text-align: center;
}

.classContainer {
  display: flex;
  justify-content: center;
}

.screenShot .MuiCard-root {
  background-color: #111 !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  border-radius: 20px;
  border: 1px solid rgba(240, 240, 239, 0.5);
  color: #111;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

.screenShot .MuiCard-root *{
  color: #111;
}

.infoBox .MuiCard-root {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(240, 240, 239, 0.5);
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

.screenShot .MuiCard-root p {
  color: #111;
}

.infoBox .MuiCard-root p {
  color: #f1f1f1;
}

.screenShot .MuiCard-root p,
.screenShot .MuiCard-root h5,
.screenShot .MuiCard-root span,
.screenShot .weatherDetails p {
  color: #111 !important;
}

.MuiCard-root:hover {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6);
  transform: scale(1.01);
}

/* Weather details inside card for icons aligment */
.weatherDetails {
  display: block;
  text-align: center;
}


.weatherDetails p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.9;
}

.cardActions button {
  color: wheat;
}

#uploadButton {
  background-color: transparent;
  color: wheat;
  border: none;
  font-size: 16px;
}

.cardActions {
  display: flex;
  justify-content: space-around;
}

