.weatherApp {
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #0a2d2e,  #144d4d, #145a32 );
    color: white;
    transition: background 0.5s ease-in-out;
}